<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <mat-tab-group animationDuration="2000ms" [selectedIndex]="selectedIndex" (selectedIndexChange)="mudouTab($event)">

    <mat-tab label="Usuario">
      <form #f1="ngForm" (ngSubmit)="onSubmit(f1)">
        <ion-list lines="none">
          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="person" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="name" [(ngModel)]="value.pessoa.nome" ngModel #name="ngModel"
                placeholder="Nome" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!name.valid && name.touched">
              <p class="errorMsg">* Nome invalido</p>
            </ion-text>
          </div>

          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="person" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="login" [(ngModel)]="value.login" ngModel #login="ngModel" placeholder="Usuário"
                required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!login.valid && login.touched">
              <p class="errorMsg">* Nome invalido</p>
            </ion-text>
          </div>

          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="person" slot="start" color="primary"></ion-icon>
              <ion-input type="tel" [brmasker]="{person: true}" name="cpf" [(ngModel)]="value.pessoa.cpfCnpj" ngModel #cpf="ngModel" placeholder="CPF"
                required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!cpf.valid && cpf.touched">
              <p class="errorMsg">* cpf invalido</p>
            </ion-text>
          </div>

          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="mail" slot="start" color="primary"></ion-icon>
              <ion-input type="email" name="email" [(ngModel)]="value.email" ngModel email #emailCtrl="ngModel"
                placeholder="Email" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
              <p class="errorMsg">* email invalido</p>
            </ion-text>
          </div>

          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="call" slot="start" color="primary"></ion-icon>
              <ion-input type="tel" [brmasker]="{phone: true}" name="phone" [(ngModel)]="value.pessoa.telefone" ngModel
                #phone="ngModel" placeholder="Telefone" required minlength="14" maxlength="15">
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!phone.valid && phone.touched">
              <p class="errorMsg">* telefone invalido</p>
            </ion-text>
          </div>

          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
              <ion-input type="text" [brmasker]="{mask:'DD/MM/YYYY',type:'num', len:10}" name="aniversario"
                [(ngModel)]="value.pessoa.dataNascimento" ngModel #aniversario="ngModel" placeholder="Data aniversário">
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!aniversario.valid && aniversario.touched">
              <p class="errorMsg">* data de aniversario invalido</p>
            </ion-text>
          </div>

          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="key" slot="start" color="primary"></ion-icon>
              <ion-input type="password" name="password" [(ngModel)]="value.senha" ngModel #passwordCtrl="ngModel"
                placeholder="Senha" required minlength="4">
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
              <p class="errorMsg">* senha invalida</p>
            </ion-text>
          </div>

          <ion-item color="light">
            <ion-icon name="key" slot="start" color="primary"></ion-icon>
            <ion-input type="password" name="c_password" ngModel #c_passwordCtrl="ngModel"
              placeholder="Confirme sua senha" required minlength="6">
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!c_passwordCtrl.valid && c_passwordCtrl.touched">
            <p class="errorMsg">* senha invalida.</p>
          </ion-text>
          <ion-text color="danger" *ngIf="c_passwordCtrl.valid && c_passwordCtrl.value !== passwordCtrl.value">
            <p class="errorMsg">* senhas diferentes.</p>
          </ion-text>
        </ion-list>

        <ion-button *ngIf="!isLoading" [disabled]="!f1.valid || (c_passwordCtrl.value !== passwordCtrl.value)"
          expand="block" shape="round" type="submit" color="primary">
          Próxima etapa
        </ion-button>

        <div class="ion-text-center" *ngIf="isLoading">
          <ion-button shape="round" color="primary"
            [disabled]="!f1.valid || (c_passwordCtrl.value !== passwordCtrl.value)">
            <ion-spinner name="circles"></ion-spinner>
          </ion-button>
        </div>

      </form>
    </mat-tab>
    <mat-tab label="Endereco">
      <form #f2="ngForm">
        <ion-list lines="none">
          <div class="ion-margin-bottom" *ngIf="value.pessoa.cidade">
            <ion-item color="light">
              <ion-icon name="street-view" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="cidade" [(ngModel)]="value.pessoa.cidade.nome" ngModel #cidade="ngModel"
                placeholder="Cidade" disabled>
              </ion-input>
            </ion-item>

          </div>

          <!--
          <div class="ion-margin-bottom" *ngIf="false" >
            <ion-item color="light">
              <ion-icon name="street-view" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="cep" [(ngModel)]="cep" ngModel #cep="ngModel"
                placeholder="Cidade" [brmasker]="{mask:'00.000-000', len:10, userCaracters: true}" >
              </ion-input>
            </ion-item>

          </div>-->
          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="street-view" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="rua" [(ngModel)]="endereco.rua" ngModel #rua="ngModel" placeholder="Rua"
                required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!rua.valid && rua.touched">
              <p class="errorMsg">* rua invalido</p>
            </ion-text>
          </div>


          <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="street-view" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="numero" [(ngModel)]="endereco.numero" ngModel #numero="ngModel"
                placeholder="Número" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!numero.valid && numero.touched">
              <p class="errorMsg">* Nome invalido</p>
            </ion-text>
          </div>


		  <div class="ion-margin-bottom">
            <ion-item color="light">
              <ion-icon name="street-view" slot="start" color="primary"></ion-icon>
              <ion-input type="text" name="bairro" [(ngModel)]="endereco.bairro" ngModel #bairro="ngModel"
                placeholder="Bairro" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="!bairro.valid && bairro.touched">
              <p class="errorMsg">* Nome invalido</p>
            </ion-text>
          </div>
        </ion-list>
        <ion-button *ngIf="!isLoading" [disabled]="!f1.valid || (c_passwordCtrl.value !== passwordCtrl.value)"
          expand="block" shape="round" type="submit" color="primary" (click)="salvar()">
          Finalizar
        </ion-button>

        <div #map id="map"></div>
        <div>
          {{teste.administrativeArea}} <br>
          {{teste.areasOfInterest}}<br>
          {{teste.countryCode}}<br>
          {{teste.countryName}}<br>
          {{teste.latitude}}<br>
          {{teste.locality}}<br>
          {{teste.longitude}}<br>
          {{teste.postalCode}}<br>
          {{teste.subAdministrativeArea}}<br>
          {{teste.subLocality}}<br>
          {{teste.subThoroughfare}}<br>
          {{teste.thoroughfare}}<br>

        </div>
      </form>
    </mat-tab>
  </mat-tab-group>

</ion-content>
