.itemconfiguration {
  max-height: 100px;
  overflow-y: auto;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: var(--ion-color-primary);
  color: white;
  font-weight: bold;
}
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}



