<ion-content>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="ui-fluid margin-inserir">
    <div class="p-grid forms-grid">
      <div class="p-col-12 p-md-6">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating"> &nbsp; Hamburgeria </ion-label>
          <search-selectable
            [searchFull]="true"
            name="categoria"
            [service]="empresaService"
            labelField="pessoa.snome"
            [(ngModel)]="value.empresa"
          >
          </search-selectable>
        </ion-item>
      </div>

      <div class="p-col-12 p-md-6">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating"> &nbsp; Inicio </ion-label>
          <data-mbi [(ngModel)]="value.inicio"  [apenasData]="false" name="inico">

          </data-mbi>
        </ion-item>
      </div>

      <div class="p-col-12 p-md-6">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating"> &nbsp; Fim </ion-label>
          <data-mbi [(ngModel)]="value.fim"  [apenasData]="false" name="fim">

          </data-mbi>
        </ion-item>
      </div>

      <div class="p-col-12 p-md-6">
        <input-mbi name="nome" [(ngModel)]="value.texto" label="Texto">
        </input-mbi>
      </div>


      <div class="p-col-12 p-md-6">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm class="">
              <div>
                <div>
                  <ion-text>&nbsp;Imagens</ion-text>
                </div>
                <div>
                  <ion-item no-padding class="animated fadeInUp">
                    <ion-input name="imgLogo" type="file" accept="image/*" capture="camera"
                      (change)="onFileSelected($event)" id="fileInput">
                    </ion-input>
                  </ion-item>
                </div>
                <div>
                  <ion-button fill="clear" expand="full" color="primary" (click)="tirarFoto()">
                    <ion-icon slot="start" name="camera"></ion-icon>
                    Tirar Foto
                  </ion-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>

      <div class="div-botao-salvar">
        <ion-button
          size="medium"
          expand="full"
          shape="round"
          color="primary"
          icon-right
          tappable
          (click)="salvar()"
        >
          Salvar
          <ion-icon name="checkmark-circle" color="success"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
