<ion-item no-padding class="animated fadeInUp">
  <ion-label position="floating">
    &nbsp;{{ label + (isRequired ? ' *' : '') }}
  </ion-label>
  <ion-input  (ngModelChange)="value = $event.toUpperCase()" (ionBlur)="saiu($event)" [(ngModel)]="value" [name]="name" [type]="type" (ionChange)="onChange($event)"
    [style.border-bottom]="getStyle()" [readonly]="readonly"></ion-input>
</ion-item>
<p [hidden]="!exibirMensagem()" color="danger" class="p-erro" padding-left>
  <ion-text color="danger">
    {{ label }} Campo obrigatório
  </ion-text>

</p>
