<ion-header>
  <ion-toolbar color="danger" >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-toolbar *ngIf="false"  color="danger" >

    <ion-buttons slot="end"  style="width: 100%;">
      <ion-button size="small" shape="round" color="light"  >
          <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-input  class="margen" [(ngModel)]="value" name="teste">
      </ion-input>

      <ion-button   size="small" shape="round" color="light"  >
        <ion-icon name="search"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>


  <div *ngIf="isLoading">
    <ion-skeleton-text animated style="height: 25vh;"></ion-skeleton-text>
  </div>


</ion-content>
