

<ion-header>
  <ion-toolbar color="warning" >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-toolbar *ngIf="false"  color="warning" >

    <ion-buttons slot="end"  style="width: 100%;">
      <ion-button size="small" shape="round" color="light"  >
          <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-input  class="margen" [(ngModel)]="value" name="teste">
      </ion-input>

      <ion-button   size="small" shape="round" color="light"  >
        <ion-icon name="search"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>


  <div id="container" class="margin">
    <h4>Bem - vindo</h4>
    <div class="banner borda-1">
      <ion-img class="borda"S
        style="width:  100%; height: 100%"
        [src]="getImagenBanner(bannerAtual)"
        ></ion-img>
    </div>
    <div class="container">
      <div class="column">
        <h4>Promoções</h4>


        <p-carousel [value]="promocoes" [numVisible]="5" [numScroll]="5" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
          <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3"  (click)="showEvento(product)" style="max-height: 200px;">
                      <img  class="borda" style="width:  auto; height: auto; max-height: 190px;"
                      [ngStyle]="{'min-width.px': getStyle()}" [src]="getImagen(product)"  />

                    </div>

                </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="column">
        <h4>Destaques</h4>


        <p-carousel [value]="destaques" [numVisible]="5" [numScroll]="5" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
          <ng-template let-destaque pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                  <div class="mb-3"  (click)="showEvento(destaque)" style="max-height: 200px;">
                    <img  class="borda" style="width:  auto; height: auto; max-height: 190px;"
                    [ngStyle]="{'min-width.px': getStyle()}" [src]="getImagen(destaque)"  />

                  </div>

                </div>
          </ng-template>
        </p-carousel>


      </div>
    </div>

    <div class="container-flex">
      <div class="column">
        <h4>Dicas</h4>
        <div class="column-99 simple-bord">
          <ion-img
            style="width: 95%; height: 150px"
            [src]="getImagen(dicaAtual)"
          > </ion-img>
        </div>
      </div>
      <div class="column ">
        <h4>Eventos</h4>
        <div class="column-99  simple-bord" (click)="showEvento(eventoAtual)" >
          <ion-img  (click)="(eventoAtual)"
            style="width: 95%; height: 150px"
            [src]="getImagen(eventoAtual)"
          ></ion-img>
        </div>
      </div>
    </div>
    <div >
      <h4>hamburgueria</h4>
      <div *ngFor="let item of empresas"  class="flex borda ">
        <div>
          <ion-item style="border-radius: 20px;">
            <ion-avatar slot="start">
              <ion-img  [src]="item.pessoa.url"></ion-img>
            </ion-avatar>
            <ion-label> <p style="white-space: pre-line;">hambúrguer, é um alimento composto por recheios
              de um pão fatiado ou pãozinho. </p></ion-label>
          </ion-item>
        </div>
      </div>


    </div>
  </div>

</ion-content>

